.content {
    margin: auto;
    text-align: center;
}

#live-accounts{
    border: 1px solid;
    width: 600px;
    margin: 10px auto;        
}

#live-accounts-table{
    margin: auto;
}

#loginlog{
    border: 1px solid;
    width: 600px;
    margin: 10px auto;        
}

#loginlog-table{
    margin: auto;
}